/* 
   Written in 2020 by Dino Bansigan

   To the extent possible under law, the author(s) have dedicated all 
   copyright and related and neighboring rights to this software to the 
   public domain worldwide. This software is distributed without any 
   warranty.

   You should have received a copy of the CC0 Public Domain Dedication 
   along with this software. If not, see 
   http://creativecommons.org/publicdomain/zero/1.0
*/
@import url('https://use.typekit.net/hfn3sot.css');

body {
    font-family: neue-haas-grotesk-text, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
/*     font-size-adjust: .5; */
    background-color: #f4f5f7  !important;
    color: #16191e !important;
}

body footer {
    font-family: neue-haas-grotesk-display, sans-serif !important;
    font-weight: 400 !important;
    font-style: italic !important;
    text-align: center !important;
    padding: 0 2em !important;
    background-color: #e2e3e8 !important;
}

body footer nav {
    color: #444 !important;
    background-color: #e2e3e8 !important;
    padding-bottom: 48px !important;
    margin-bottom: 0px !important;
}

#blog-title {
    color: #509cfe !important;
    font-family: neue-haas-grotesk-display, sans-serif !important;
    font-weight: 700 !important;
    font-style: italic !important;
}

#blog-title a:hover { 
    color: #ffd218 !important;
}

.post-title {
    color: #586470 !important;
    font-family: neue-haas-grotesk-text, sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.post-title a:hover {
    color: #ffd218 !important;
}

#post nav a:not(.home):hover, header nav a:hover {
    text-decoration: underline !important;
    color: #ffd218 !important;
}

body#collection a.read-more, body#subpage a.read-more {
    color: #f7e4e5 !important;
}

#collection a.read-more, #subpage a.read-more {
    background: #4ac05e !important;
    padding: 4px !important;
    border-radius: 7px !important;
}

#collection a.read-more:hover, #subpage a.read-more:hover {
    background: #ffd218 !important;
    padding: 5px !important;
    color: white !important;
    border-radius: 7px !important;
    text-decoration: none !important;
}

body#post header {
    text-align: center !important;
}

/* footer nav::before {
    content: "Copyright © 2019 - 2020 by Your Name \A The opinions expressed herein are my own and do not represent those of my employer \A or any other third-party views in any way. \A";
    white-space: pre-wrap;
} */

/* Hide post views */
header nav .views {
    display: none !important;
}

a.tags {
    background-color: #272d34 !important;
    border-radius: 7px !important;
    border-style: solid !important;
    border-color: #828891 !important;
    border-width: thin !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    text-decoration: none !important;
    line-height: 2em !important;
    color: #535d6a !important;
}

.tags:hover {
    background-color: #ffd218 !important;
    color: #fff !important;
}
 
.tags:hover:after {
    border-color: transparent transparent transparent #535d6a;
}

body#post .commentsHeader {
    text-align: center;
    display: block;
}

body#post .commentsQuestion {
    text-align: center;
    display: block;
}

#subscribe-btn {
    border: 1px #4bbe5f;
    background: #4bbe5f; 
}

/* Hide Stats link */
nav#manage ul a[href="/me/c/chaff/stats"] {
  display: none !important;
}

/* Change the background color for when you highlight/select text */
::selection {
    background: 
    rgba(0, 128, 255, 0.5) !important;
}

/* Search bar styling */
#search .field {
    width: 270px !important;
    height: 34px !important;
    text-indent: 0px !important;
    display: inline-block !important;
    text-align: left !important;
    background-color: #e6e8ec !important;
    margin: 0em !important;
}